.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Maven ###
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### TeX ###
**/TeX/*.log
**/TeX/*.aux
**/TeX/*.synctex.gz
